body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #6f6d6d;
}

.plane-text {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: #f6f2f2;
    height: 602px;
    min-height: 100vh;
    padding-top: 26px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    background: #313030;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__item {
    display: block;
    height: 82px;
    line-height: 82px;
    padding: 0 22px 0 22px;
    transition: all 0.3s ease;
}

.nav__item.active, .nav__item:hover {
    background: #ff3f40;
    cursor: pointer;
}
.nav__item.active:hover {
    cursor: default;
}

.nav__item a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header .container {
    height: 100%;
}

.header__content {
    position: relative;
    /* margin-top: 84px; */
    /* margin-top: 10%; */
    display: flex;
    align-items: center;
    height: 80%;
}

.header__offer {
    width: 600px;
}

.header__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000;
}

.header__sub-title {
    margin-top: 16px;
    hyphens: auto;
    width: 492px;
}

.button {
    display: block;
    padding: 0;
    background: #fff;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    width: 208px;
    height: 50px;
    line-height: 47px;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: bold;
    color: #ff2d2d;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ff2d2d;
    color: #fff;
    cursor: pointer;
}

.header__button {
    background: #ff2d2d;
    border: none;
    color: #fff;
    margin-top: 51px;
}

.header__button:hover {
    background: #fff;
    color: #ff2d2d;
    cursor: pointer;
}

.video {
    width: 501px;
    height: 325px;
    background: #c4c0b1;
    box-shadow: 0px -14px 73px 0px rgba(0, 0, 0, 0.29);
    transition: all 0.3s ease;
}

.video:hover {
    box-shadow: 0px -7px 30px 0px rgba(0, 0, 0, 0.39);
}

.video__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -35px;
    margin-right: -35px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
}

.section {
    padding: 92px 0;
}

.provide__wrapper {
    display: flex;
}

.provide__left, .provide__right {
    width: 50%;
}

.section__head {
    width: 435px;
    margin-bottom: 68px;
}
.provide .section__head {
    width: 483px;
}

.section__title {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 38px;
    line-height: 50px;
    color: #585858;
}

.section__sub-title {
    margin-top: 20px;
    margin-bottom: 24px;
    color: #6f6d6d;
}

.provide .section__sub-title {
    margin: 33px 0;
}

.provide__learn-more {
    margin-top: 47px;
}

.provide__row {
    display: flex;
    margin-bottom: 33px;
}

.provide__row:last-child {
    margin-bottom: 0;
}

.provide__item {
    width: 50%;
    padding-left: 20px;
    padding-top: 7px;
}

.provide__icon img {
    height: 36px;
}

.provide__service-name {
    font-size: 22px;
    font-weight: 500;
    color: #737373;
    margin-top: 20px;
    margin-bottom: 11px;
}

.section_separator {
    padding: 0;
}

.separator {
    background: #ececec;
    height: 2px;
}

.section__head_center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.section__head-separator {
    content: '';
    display: block;
    background: #ff2d2d;
    width: 120px;
    height: 2px;
}
.section__head_center .section__head-separator {
    margin: 0 auto;
}

.products__nav {
    margin-top: 10px;
    margin-bottom: 46px;
}

.products__list {
    display: flex;
    justify-content: center;
}

.products__nav-item {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
    transition: all 0.3s ease;
}
.products__nav-item:last-child {
    margin-right: 0;
}
.products__nav-item.active, .products__nav-item:hover {
    color: #ff2d2d;
    cursor: pointer;
}
.products__nav-item.active:hover {
    cursor: default;
}

.products__wrapper {
    overflow: hidden;
    user-select: none;
    touch-action: pan-y;
}

.products__track {
    display: flex;
}

.products__page {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-basis: 100%;
    margin-right: 20px;
}

.products__item {
    background: #f5f0dd;
    width: 270px;
    height: 265px;
    transition: all 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.team {
    padding-top: 21px;
}

.team__wrapper {
    display: flex;
}

.team__photo {
    /* background: #f5f0dd; */
    background: #f5f0dd center top / cover no-repeat;
    width: 292px;
    height: 420px;
    flex-shrink: 0;
}

.team__photo img {
    /* width: 100%; */
    height: 100%;
}

.team__right {
    position: relative;
    margin-left: 67px;
    width: 100%;
}

.team__name {
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #585858;
    margin-bottom: 14px;
}

.team__description {
    width: 595px;
    margin-bottom: 32px;
}

.team__social a {
    text-decoration: none;
    color: #585858;
    font-style: italic;
    font-size: 17px;
    letter-spacing: 0.03em;
    margin-right: 25px;
}

.team__other {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.team__card {
    /* background: #f5f0dd; */
    background: #f5f0dd center top / cover no-repeat;
    width: 181px;
    height: 196px;
    position: relative;
    transition: all 0.3s ease;
}
.team__card:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.team__card-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: transparent;
    font-size: 16px;
    line-height: 35px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.team__card:hover .team__card-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.subscribe {
    background: #313030;
    color: #fff;
}

.subscribe__title {
    text-align: center;
    font-size: 38px;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 33px;
}

.subscribe__sub-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 53px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.form__row {
    display: flex;
}

.form__input {
    border: none;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

.subscribe__form .form__input {
    height: 73px;
}

.subscribe__form .form__email {
    background: #fff;
    padding: 0 34px;
    width: 479px;
    margin-right: 18px;
}

.form__submit {
    background: #ff2d2d;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #fff;
    transition: all 0.3s ease;
}
.form__submit:hover {
    background: #fff;
    color: #ff2d2d;
    cursor: pointer;
}

.subscribe__form .form__submit {
    width: 196px;
}

.contact .section__sub-title {
    width: 668px;
}

.contact__wrapper {
    position: relative;
}

.contact__form {
    width: 668px;
    flex-shrink: 0;
}

.contact__form .form__row {
    justify-content: space-between;
}

.contact__form .form__input {
    height: 63px;
}

.contact__form .form__text, .contact__form .form__email, .contact__form .form__textarea {
    font-family: "Open Sans", sans-serif;
    background: #e5e5e5;
    border-radius: 10px;
    padding: 0 40px;
}

.contact__form .form__text, .contact__form .form__email {
    width: 309px;
}

.contact__form .form__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 237px;
    border: none;
    display: block;
    margin: 40px 0;
    padding-top: 25px;
    resize: none;
}

.contact__form .form__submit {
    width: 100%;
}
.contact__form .form__submit:hover {
    background: #f6f2f2;
}

.contact__right {
    background: #2d2d2d;
    width: 32%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    color: #e0e0e0;
}

.contact-info a {
    text-decoration: none;
    color: #e0e0e0;
}

.contact-info__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}

.contact-info__text {
    margin-top: 19px;
    width: 284px;
}

.footer {
    background: #313030;
    padding-top: 10px;
    color: #b8b8b8;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer__social {
    display: flex;
}

.footer__social a {
    margin-right: 15px;
}
.footer__social a:last-child {
    margin-right: 0;
}

.footer__social img {
    height: 31px;
}