body {
    margin: 0;
    padding: 0;
    font: 16px / 28px 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: #f6f2f2;
    height: 602px;
    padding-top: 26px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    background: #313030;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__item {
    display: block;
    height: 82px;
    line-height: 82px;
    padding: 0 22px 0 22px;
    transition: all 0.3s ease;
}

.nav__item:hover {
    background: #ff3f40;
    cursor: pointer;
}

.nav__item_active {
    background: #ff3f40;
    cursor: auto;
}

.nav__item_active:hover {
    cursor: default;
}

.nav__item a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header__content {
    position: relative;
    margin-top: 84px;
}

.header__offer {
    width: 600px;
}

.header__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000;
}

.header__sub-title {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #6f6d6d;
    margin-top: 16px;
    hyphens: auto;
    width: 492px;
}

.button {
    display: block;
    padding: 0;
    background: #fff;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    width: 208px;
    height: 50px;
    line-height: 47px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #ff2d2d;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ff2d2d;
    color: #fff;
    cursor: pointer;
}

.header__button {
    background: #ff2d2d;
    border: none;
    color: #fff;
    margin-top: 51px;
}

.header__button:hover {
    background: #fff;
    color: #ff2d2d;
    cursor: pointer;
}

.video {
    position: absolute;
    right: 0;
    top: 10px;
    width: 501px;
    height: 325px;
    background: #c4c0b1;
    box-shadow: 0px -14px 73px 0px rgba(0, 0, 0, 0.29);
    transition: all 0.3s ease;
}

.video:hover {
    background: #c4c0b1;
    box-shadow: 0px -7px 30px 0px rgba(0, 0, 0, 0.39);
}

.video__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -35px;
    margin-right: -35px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
}